.App {
  position: absolute;
  background-position: center;
  background-image: linear-gradient(to bottom right, #92fe9d, #00c9ff);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100%;
}
