.aboutusContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 5rem;
}

.aboutusContainer h1 {
  margin-bottom: 3rem;
  font-size: 4rem;
}

.aboutusTextContainer {
  background-color: white;
  border-radius: 10px;
  padding: 30px;
}
