.registerContainer {
  display: flex;
  height: calc(100vh - 56px);

  justify-content: center;
  align-items: center;
}

.registerLogoTitle {
  font-size: 10rem;
  color: white;
}

.registerLogoText {
  font-size: 2rem;
}

@media screen and (max-width: 993px) {
  .registerContainer {
    flex-direction: column;
  }

  .registerLogoContainer {
    margin: 0 0 2rem 0;
  }
}

.labelContainer {
  margin-top: 2rem;
  border-radius: 10px;
}

.registerForm {
  display: flex;
  flex-flow: column;
  margin: 0 auto;
  width: 30rem;
  justify-content: center;
}

.registerForm label {
  display: flex;
  flex-flow: column;
  margin-bottom: 1rem;
}

.registerFormContainer {
  border-radius: 6px;
  padding: 2rem 3rem 1rem;
  background-color: white;
}

.registerHeading {
  text-align: center;
  font-size: 3rem;
  padding-bottom: 2rem;
  border-bottom: 1px solid #bdbdbd;
}

.registerBtnContainer {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
}

.registerBtn {
  padding: 10px 0;
  border: none;
  border-radius: 30px;
  color: white;
  background-image: linear-gradient(to bottom right, #92fe9d, #00c9ff);
}

.registerBtnSecondContainer {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.registerText {
  margin-right: 10px;
}

/* bootstrap */

.form-control:focus {
  box-shadow: none !important;
}

.form-control {
  border-radius: 0 !important;
  border: none !important;
  border-bottom: 1px solid black !important;
}

.form-select:focus {
  box-shadow: none !important;
}

.form-select {
  border-radius: 0 !important;
  border: none !important;
  border-bottom: 1px solid black !important;
  padding: 1rem !important;
}
